In [46]:
import pandas as pd
from sqlalchemy import create_engine

In [47]:
#Store CSV into DataeFrame
csv_file = "Resources/Hot Stuff.csv"
hot_stuff_df = pd.read_csv(csv_file)
hot_stuff_df.head()

,url,WeekID,Week Position,Song,Performer,SongID,Instance,Previous Week Position,Peak Position,Weeks on Chart
0,http://www.billboard.com/charts/hot-100/1958-0...,8/2/1958,1,Poor Little Fool,Ricky Nelson,Poor Little FoolRicky Nelson,1,NaN,1,1
1,http://www.billboard.com/charts/hot-100/1995-1...,12/2/1995,1,One Sweet Day,Mariah Carey & Boyz II Men,One Sweet DayMariah Carey & Boyz II Men,1,NaN,1,1
2,http://www.billboard.com/charts/hot-100/1997-1...,10/11/1997,1,Candle In The Wind 1997/Something About The Wa...,Elton John,Candle In The Wind 1997/Something About The Wa...,1,NaN,1,1
3,http://www.billboard.com/charts/hot-100/2006-0...,7/1/2006,1,Do I Make You Proud,Taylor Hicks,Do I Make You ProudTaylor Hicks,1,NaN,1,1
4,http://www.billboard.com/charts/hot-100/2009-1...,10/24/2009,1,3,Britney Spears,3Britney Spears,1,NaN,1,1

In [50]:
#Create new data with select columns
new_hot_stuff_df = hot_stuff_df[['weekid', 'song', 'performer','songid']]. copy()
new_hot_stuff_df.head()

KeyError: "None of [Index(['weekid', 'song', 'performer', 'songid'], dtype='object')] are in the [columns]"

In [49]:
#Store Additional CSV data into DataFrame
top10_file = "Resources/top10s.csv"
top10_df = pd.read_csv(top10_file, encoding='latin-1')
top10_df.head()

,Unnamed: 0,title,artist,top_genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [42]:
#Clean DataFrame
new_top10_df = top10_df[['title', 'artist', 'top_genre','year']]. copy()
new_top10_df.head()

                  title      artist        top_genre  year
0      Hey, Soul Sister       Train       neo mellow  2010
1  Love The Way You Lie      Eminem  detroit hip hop  2010
2               TiK ToK       Kesha        dance pop  2010
3           Bad Romance   Lady Gaga        dance pop  2010
4  Just the Way You Are  Bruno Mars              pop  2010

In [43]:
#Connect to local SQL database
connection_string = "postgres:postgres@localhost:5432/hotstuff_etl"
engine = create_engine(f'postgresql://{connection_string}')

In [44]:
#Check tables
engine.table_names()

['spotify_list', 'Hotstuff', 'hotstuff']

In [45]:
#Load CSV converted DataFrame into database
new_hot_stuff_df.to_sql(name='hotstuff', 
                        con=engine, 
                        if_exists='append',
                        index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "WeekID" of relation "hotstuff" does not exist
LINE 1: INSERT INTO hotstuff ("WeekID", "Song", "Performer", "SongID...
                              ^

[SQL: INSERT INTO hotstuff ("WeekID", "Song", "Performer", "SongID") VALUES (%(WeekID)s, %(Song)s, %(Performer)s, %(SongID)s)]
[parameters: ({'WeekID': '8/2/1958', 'Song': 'Poor Little Fool', 'Performer': 'Ricky Nelson', 'SongID': 'Poor Little FoolRicky Nelson'}, {'WeekID': '12/2/1995', 'Song': 'One Sweet Day', 'Performer': 'Mariah Carey & Boyz II Men', 'SongID': 'One Sweet DayMariah Carey & Boyz II Men'}, {'WeekID': '10/11/1997', 'Song': 'Candle In The Wind 1997/Something About The Way You Look Tonight', 'Performer': 'Elton John', 'SongID': 'Candle In The Wind 1997/Something About The Way You Look TonightElton John'}, {'WeekID': '7/1/2006', 'Song': 'Do I Make You Proud', 'Performer': 'Taylor Hicks', 'SongID': 'Do I Make You ProudTaylor Hicks'}, {'WeekID': '10/24/2009', 'Song': '3', 'Performer': 'Britney Spears', 'SongID': '3Britney Spears'}, {'WeekID': '2/26/2011', 'Song': 'Born This Way', 'Performer': 'Lady Gaga', 'SongID': 'Born This WayLady Gaga'}, {'WeekID': '3/3/2012', 'Song': 'Part Of Me', 'Performer': 'Katy Perry', 'SongID': 'Part Of MeKaty Perry'}, {'WeekID': '9/6/2014', 'Song': 'Shake It Off', 'Performer': 'Taylor Swift', 'SongID': 'Shake It OffTaylor Swift'}  ... displaying 10 of 320495 total bound parameter sets ...  {'WeekID': '12/21/2019', 'Song': 'Jingle Bell Rock', 'Performer': 'Bobby Helms', 'SongID': 'Jingle Bell RockBobby Helms'}, {'WeekID': '12/28/2019', 'Song': 'Jingle Bell Rock', 'Performer': 'Bobby Helms', 'SongID': 'Jingle Bell RockBobby Helms'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
new_top10_df.to_sql(name='spotify_list',
                   con= engine,
                   if_exists='append',
                   index=False)

In [ ]:
pd.read_sql_query('select * from spotify_list', con=engine).head()